{% extends 'base.html'%}

{% block title %} {{ super() }} - Index {% endblock %}

{% block content %}

<section class="content">
    <div class="new_tweet--top">
        <input type="text" placeholder="O que está acontecendo?" data-js="tweet-description" />

        <div class="new_tweet__global">
            <i class="fas fa-globe-americas"></i>
            <span>Qualquer pessoa pode responder</span>
        </div>

        <div class="new_tweet__actions">
            <div class="new_tweet__emojis">
                <i class="fas fa-image"></i>
                <i class="fa fa-file-alt"></i>
                <i class="fas fa-chart-bar"></i>
                <i class="far fa-smile-beam"></i>
                <i class="far fa-calendar"></i>
            </div>

            <button type="button" data-js="tweet-button">Tweetar</button>
        </div>
    </div>

    <div data-js="tweets" class="tweets">

    </div>
</section>

<section class="feed sticky">
    <div class="feed__card">
        <h2>O que está acontecendo</h2>

        <div class="card__content card--hover">
            <span class="card__text">Assunto do Momento no Brasil</span>
            <p class="card__subject">React</p>
            <span class="card__text">30,5 mil tweets</span>
        </div>

        <div class="card__content card--hover">
            <div class="card__topic">
                <span class="card__topic--before">Programação</span>
                <span class="card__topic--after">Assunto do Momento</span>
            </div>

            <p class="card__subject">Javascript</p>
            <span class="card__text">12,3 mil tweets</span>
        </div>

        <p class="card__more card--hover">Mostrar mais</p>
    </div>

    <div class="feed__card">
        <h2>Quem seguir</h2>
        {% for user in users %}
        <div class="card__user card--hover">
            <figure class="card__avatar">
                <img alt="User Avatar" src="{{url_for('static', filename='./assets/rabbit.png')}}" />
            </figure>

            <div class="card__info">
                <p class="card__username">{{user.username}}</p>
                <p class="card__user_id">@{{user.username}}</p>
            </div>

            <button type="button">Seguir</button>
        </div>

        {% endfor %}

        <p class="card__more card--hover">Mostrar mais</p>
    </div>
</section>

{% endblock %}