{% extends 'base.html'%}

{% block title %} login {% endblock %}

{% block content %}
<main class=container_>
    <form action="" method="post" class="form-signin">
        {{ form.csrf_token }}

        <div class='div-1'>
            <div class='sub-div-1'>
                <i class="fa fa-twitter icon"></i>
            </div>
        </div>
        <div class='div-2'>
            <div class='sub-div-2'>
                <h3>Log in to Twitter</h3>
            </div>
        </div>

        <div class='div-3'>
            <div class='sub-div-3'>
                <label>Phone, email or username</label><br>
                {{form.username(_class="form-control", placeholder="Usuario", id="inputEmail")}}
            </div>
        </div>

        {% if form.errors.username%}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for err in form.errors.username %}
                        <li>

                            {{err}}
                        </li>
                    {% endfor %}
                </ul>
          </div>
        {% endif %}

        <div class='div-4'>
            <div class='sub-div-4'>
                <label>Password</label><br>
                {{form.password(_class="form-control", placeholder="Senha")}}
            </div>
        </div>

        {% if form.errors.password%}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for err in form.errors.username %}
                <li>

                    {{err}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="div-4">
          <label class="form-check-label">
            {{form.remember_me(_class="form-control")}} Remember me
          </label>
        </div>

        <div class='div-5'>
            <div class='sub-div-5'>
                <button type="submit">Log in</button>
            </div>
        </div>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p> -->
    </form>
    <div class='div-6'>
        <div class='sub-div-6'>
            <a href=''>Forgot password? .&nbsp;</a>
            <a href=''>Sign up for Twitter</a>
        </div>
    </div>
</main>
{% endblock %}